--
-- PostgreSQL database dump
--

\restrict czHh7igvTxRaF2Y3qeX5mU66N7weC4sPLrG1jPGmAcCtSGck1R8DR9Muug2otFe

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg13+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Addresses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Addresses" (
    "Id" integer NOT NULL,
    "CompanyId" uuid NOT NULL,
    "PlaceId" character varying(500) NOT NULL,
    "DisplayName" text NOT NULL,
    "StreetNumber" character varying(50) NOT NULL,
    "StreetName" character varying(200) NOT NULL,
    "Suburb" character varying(100) NOT NULL,
    "PostCode" character varying(12) NOT NULL,
    "State" character varying(50) NOT NULL,
    "Country" character varying(60) NOT NULL,
    "Latitude" double precision,
    "Longitude" double precision
);


ALTER TABLE public."Addresses" OWNER TO postgres;

--
-- Name: Addresses_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Addresses" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Addresses_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetRoleClaims; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetRoleClaims" (
    "Id" integer NOT NULL,
    "RoleId" uuid NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetRoleClaims" OWNER TO postgres;

--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."AspNetRoleClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetRoleClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserClaims; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUserClaims" (
    "Id" integer NOT NULL,
    "UserId" uuid NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetUserClaims" OWNER TO postgres;

--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."AspNetUserClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetUserClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserLogins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUserLogins" (
    "LoginProvider" text NOT NULL,
    "ProviderKey" text NOT NULL,
    "ProviderDisplayName" text,
    "UserId" uuid NOT NULL
);


ALTER TABLE public."AspNetUserLogins" OWNER TO postgres;

--
-- Name: AspNetUserRoles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUserRoles" (
    "UserId" uuid NOT NULL,
    "RoleId" uuid NOT NULL
);


ALTER TABLE public."AspNetUserRoles" OWNER TO postgres;

--
-- Name: AspNetUserTokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUserTokens" (
    "UserId" uuid NOT NULL,
    "LoginProvider" text NOT NULL,
    "Name" text NOT NULL,
    "Value" text
);


ALTER TABLE public."AspNetUserTokens" OWNER TO postgres;

--
-- Name: AuditLogs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLogs" (
    "Id" uuid NOT NULL,
    "CompanyId" uuid NOT NULL,
    "EntityName" text NOT NULL,
    "EntityId" text NOT NULL,
    "Action" text NOT NULL,
    "UserProfileId" uuid,
    "Changes" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastUpdatedAt" timestamp with time zone
);


ALTER TABLE public."AuditLogs" OWNER TO postgres;

--
-- Name: BreakEvent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BreakEvent" (
    "Id" uuid NOT NULL,
    "CompanyId" uuid NOT NULL,
    "UserProfileId" uuid NOT NULL,
    "Name" character varying(50) NOT NULL,
    "StartTime" timestamp with time zone NOT NULL,
    "EndTime" timestamp with time zone NOT NULL,
    "IsPaid" boolean NOT NULL,
    "Notes" character varying(600) NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastUpdatedAt" timestamp with time zone
);


ALTER TABLE public."BreakEvent" OWNER TO postgres;

--
-- Name: Companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Companies" (
    "Id" uuid NOT NULL,
    "Name" character varying(200) NOT NULL,
    "Abn" character(11) NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastUpdatedAt" timestamp with time zone
);


ALTER TABLE public."Companies" OWNER TO postgres;

--
-- Name: EmployeeProfiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EmployeeProfiles" (
    "Id" uuid NOT NULL,
    "FirstName" character varying(100) NOT NULL,
    "LastName" character varying(100) NOT NULL,
    "UserId" uuid NOT NULL,
    "CompanyId" uuid NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastUpdatedAt" timestamp with time zone,
    "MiddleName" character varying(100) DEFAULT ''::character varying NOT NULL
);


ALTER TABLE public."EmployeeProfiles" OWNER TO postgres;

--
-- Name: Employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Employees" (
    "Id" uuid NOT NULL,
    "CompanyId" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "JobPosition" character varying(100),
    "EmploymentStartDate" date NOT NULL,
    "EmploymentTerminationDate" date,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastUpdatedAt" timestamp with time zone
);


ALTER TABLE public."Employees" OWNER TO postgres;

--
-- Name: Roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Roles" (
    "Id" uuid NOT NULL,
    "Name" character varying(256),
    "NormalizedName" character varying(256),
    "ConcurrencyStamp" text
);


ALTER TABLE public."Roles" OWNER TO postgres;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users" (
    "Id" uuid NOT NULL,
    "Role" integer NOT NULL,
    "CompanyId" uuid NOT NULL,
    "UserName" character varying(256),
    "NormalizedUserName" character varying(256),
    "Email" character varying(256),
    "NormalizedEmail" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL
);


ALTER TABLE public."Users" OWNER TO postgres;

--
-- Name: WorkEventHistories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WorkEventHistories" (
    "Id" uuid NOT NULL,
    "CompanyId" uuid NOT NULL,
    "WorkEventId" uuid,
    "BreakEventId" uuid,
    "ActionPerformedByUserId" uuid NOT NULL,
    "Status" integer NOT NULL,
    "ActionPerformedAt" timestamp with time zone NOT NULL,
    "ActionPerformedAtAddressId" integer,
    "Description" character varying(1000) NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastUpdatedAt" timestamp with time zone
);


ALTER TABLE public."WorkEventHistories" OWNER TO postgres;

--
-- Name: WorkEvents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WorkEvents" (
    "Id" uuid NOT NULL,
    "UserProfileId" uuid NOT NULL,
    "CompanyId" uuid NOT NULL,
    "Type" integer NOT NULL,
    "ScheduledStartTime" timestamp with time zone,
    "ScheduledEndTime" timestamp with time zone,
    "ActualStartTime" timestamp with time zone,
    "ActualEndTime" timestamp with time zone,
    "Title" character varying(50) NOT NULL,
    "Description" character varying(600) NOT NULL,
    "AddressId" integer,
    "Notes" character varying(600),
    "Status" integer NOT NULL,
    "AssignedByUserId" uuid,
    "CreatedByUserId" uuid NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastUpdatedAt" timestamp with time zone
);


ALTER TABLE public."WorkEvents" OWNER TO postgres;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: Addresses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Addresses" ("Id", "CompanyId", "PlaceId", "DisplayName", "StreetNumber", "StreetName", "Suburb", "PostCode", "State", "Country", "Latitude", "Longitude") FROM stdin;
\.


--
-- Data for Name: AspNetRoleClaims; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetRoleClaims" ("Id", "RoleId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetUserClaims; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUserClaims" ("Id", "UserId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetUserLogins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUserLogins" ("LoginProvider", "ProviderKey", "ProviderDisplayName", "UserId") FROM stdin;
\.


--
-- Data for Name: AspNetUserRoles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUserRoles" ("UserId", "RoleId") FROM stdin;
\.


--
-- Data for Name: AspNetUserTokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUserTokens" ("UserId", "LoginProvider", "Name", "Value") FROM stdin;
01a0311a-50e0-7930-bd71-ed1b32283576	[AspNetUserStore]	AuthenticatorKey	FZO5OEXGJ6LWUGPX55OJ5JYOI4BX2X6R
\.


--
-- Data for Name: AuditLogs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: BreakEvent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BreakEvent" ("Id", "CompanyId", "UserProfileId", "Name", "StartTime", "EndTime", "IsPaid", "Notes", "CreatedAt", "LastUpdatedAt") FROM stdin;
\.


--
-- Data for Name: Companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Companies" ("Id", "Name", "Abn", "CreatedAt", "LastUpdatedAt") FROM stdin;
01a0311a-50dd-7a97-9b8f-832f60c0d513	Testing	51122761148	2026-08-24 00:10:04.34498+00	\N
\.


--
-- Data for Name: EmployeeProfiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EmployeeProfiles" ("Id", "FirstName", "LastName", "UserId", "CompanyId", "CreatedAt", "LastUpdatedAt", "MiddleName") FROM stdin;
01a0311a-50de-72e8-8dcf-7a3112d66b6c	Oliver	Ramos	01a0311a-50e0-7930-bd71-ed1b32283576	01a0311a-50dd-7a97-9b8f-832f60c0d513	2026-08-24 00:10:04.34498+00	\N	
\.


--
-- Data for Name: Employees; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Employees" ("Id", "CompanyId", "UserId", "JobPosition", "EmploymentStartDate", "EmploymentTerminationDate", "CreatedAt", "LastUpdatedAt") FROM stdin;
\.


--
-- Data for Name: Roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Roles" ("Id", "Name", "NormalizedName", "ConcurrencyStamp") FROM stdin;
\.


--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WorkEventHistories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."WorkEventHistories" ("Id", "CompanyId", "WorkEventId", "BreakEventId", "ActionPerformedByUserId", "Status", "ActionPerformedAt", "ActionPerformedAtAddressId", "Description", "CreatedAt", "LastUpdatedAt") FROM stdin;
\.


--
-- Data for Name: WorkEvents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."WorkEvents" ("Id", "UserProfileId", "CompanyId", "Type", "ScheduledStartTime", "ScheduledEndTime", "ActualStartTime", "ActualEndTime", "Title", "Description", "AddressId", "Notes", "Status", "AssignedByUserId", "CreatedByUserId", "CreatedAt", "LastUpdatedAt") FROM stdin;
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260819095020_InitialCreate	10.0.10
20260823005137_AddEntitiesConfiguration	10.0.10
\.


--
-- Name: Addresses_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Addresses_Id_seq"', 1, false);


--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AspNetRoleClaims_Id_seq"', 1, false);


--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AspNetUserClaims_Id_seq"', 1, false);


--
-- Name: Addresses PK_Addresses; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Addresses"
    ADD CONSTRAINT "PK_Addresses" PRIMARY KEY ("Id");


--
-- Name: AspNetRoleClaims PK_AspNetRoleClaims; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetUserClaims PK_AspNetUserClaims; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetUserLogins PK_AspNetUserLogins; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey");


--
-- Name: AspNetUserRoles PK_AspNetUserRoles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: AspNetUserTokens PK_AspNetUserTokens; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name");


--
-- Name: AuditLogs PK_AuditLogs; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLogs"
    ADD CONSTRAINT "PK_AuditLogs" PRIMARY KEY ("Id");


--
-- Name: BreakEvent PK_BreakEvent; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BreakEvent"
    ADD CONSTRAINT "PK_BreakEvent" PRIMARY KEY ("Id");


--
-- Name: Companies PK_Companies; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Companies"
    ADD CONSTRAINT "PK_Companies" PRIMARY KEY ("Id");


--
-- Name: EmployeeProfiles PK_EmployeeProfiles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployeeProfiles"
    ADD CONSTRAINT "PK_EmployeeProfiles" PRIMARY KEY ("Id");


--
-- Name: Employees PK_Employees; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employees"
    ADD CONSTRAINT "PK_Employees" PRIMARY KEY ("Id");


--
-- Name: Roles PK_Roles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Roles"
    ADD CONSTRAINT "PK_Roles" PRIMARY KEY ("Id");


--
-- Name: Users PK_Users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "PK_Users" PRIMARY KEY ("Id");


--
-- Name: WorkEventHistories PK_WorkEventHistories; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkEventHistories"
    ADD CONSTRAINT "PK_WorkEventHistories" PRIMARY KEY ("Id");


--
-- Name: WorkEvents PK_WorkEvents; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkEvents"
    ADD CONSTRAINT "PK_WorkEvents" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: EmailIndex; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EmailIndex" ON public."Users" USING btree ("NormalizedEmail");


--
-- Name: IX_Addresses_PlaceId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Addresses_PlaceId" ON public."Addresses" USING btree ("PlaceId");


--
-- Name: IX_Addresses_PostCode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Addresses_PostCode" ON public."Addresses" USING btree ("PostCode");


--
-- Name: IX_Addresses_Suburb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Addresses_Suburb" ON public."Addresses" USING btree ("Suburb");


--
-- Name: IX_AspNetRoleClaims_RoleId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON public."AspNetRoleClaims" USING btree ("RoleId");


--
-- Name: IX_AspNetUserClaims_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AspNetUserClaims_UserId" ON public."AspNetUserClaims" USING btree ("UserId");


--
-- Name: IX_AspNetUserLogins_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AspNetUserLogins_UserId" ON public."AspNetUserLogins" USING btree ("UserId");


--
-- Name: IX_AspNetUserRoles_RoleId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AspNetUserRoles_RoleId" ON public."AspNetUserRoles" USING btree ("RoleId");


--
-- Name: IX_BreakEvent_UserProfileId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_BreakEvent_UserProfileId" ON public."BreakEvent" USING btree ("UserProfileId");


--
-- Name: IX_Companies_Abn; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Companies_Abn" ON public."Companies" USING btree ("Abn");


--
-- Name: IX_EmployeeProfiles_CompanyId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_EmployeeProfiles_CompanyId" ON public."EmployeeProfiles" USING btree ("CompanyId");


--
-- Name: IX_EmployeeProfiles_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_EmployeeProfiles_UserId" ON public."EmployeeProfiles" USING btree ("UserId");


--
-- Name: IX_Employees_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Employees_UserId" ON public."Employees" USING btree ("UserId");


--
-- Name: IX_Users_CompanyId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Users_CompanyId" ON public."Users" USING btree ("CompanyId");


--
-- Name: IX_WorkEventHistories_ActionPerformedAtAddressId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WorkEventHistories_ActionPerformedAtAddressId" ON public."WorkEventHistories" USING btree ("ActionPerformedAtAddressId");


--
-- Name: IX_WorkEventHistories_ActionPerformedByUserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WorkEventHistories_ActionPerformedByUserId" ON public."WorkEventHistories" USING btree ("ActionPerformedByUserId");


--
-- Name: IX_WorkEventHistories_BreakEventId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WorkEventHistories_BreakEventId" ON public."WorkEventHistories" USING btree ("BreakEventId");


--
-- Name: IX_WorkEventHistories_WorkEventId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WorkEventHistories_WorkEventId" ON public."WorkEventHistories" USING btree ("WorkEventId");


--
-- Name: IX_WorkEvents_AddressId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WorkEvents_AddressId" ON public."WorkEvents" USING btree ("AddressId");


--
-- Name: IX_WorkEvents_AssignedByUserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WorkEvents_AssignedByUserId" ON public."WorkEvents" USING btree ("AssignedByUserId");


--
-- Name: IX_WorkEvents_CreatedByUserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WorkEvents_CreatedByUserId" ON public."WorkEvents" USING btree ("CreatedByUserId");


--
-- Name: IX_WorkEvents_UserProfileId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WorkEvents_UserProfileId" ON public."WorkEvents" USING btree ("UserProfileId");


--
-- Name: RoleNameIndex; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RoleNameIndex" ON public."Roles" USING btree ("NormalizedName");


--
-- Name: UserNameIndex; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserNameIndex" ON public."Users" USING btree ("NormalizedUserName");


--
-- Name: AspNetRoleClaims FK_AspNetRoleClaims_Roles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "FK_AspNetRoleClaims_Roles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."Roles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserClaims FK_AspNetUserClaims_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "FK_AspNetUserClaims_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserLogins FK_AspNetUserLogins_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "FK_AspNetUserLogins_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_Roles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_Roles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."Roles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserTokens FK_AspNetUserTokens_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "FK_AspNetUserTokens_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: BreakEvent FK_BreakEvent_EmployeeProfiles_UserProfileId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BreakEvent"
    ADD CONSTRAINT "FK_BreakEvent_EmployeeProfiles_UserProfileId" FOREIGN KEY ("UserProfileId") REFERENCES public."EmployeeProfiles"("Id") ON DELETE CASCADE;


--
-- Name: EmployeeProfiles FK_EmployeeProfiles_Companies_CompanyId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployeeProfiles"
    ADD CONSTRAINT "FK_EmployeeProfiles_Companies_CompanyId" FOREIGN KEY ("CompanyId") REFERENCES public."Companies"("Id") ON DELETE CASCADE;


--
-- Name: EmployeeProfiles FK_EmployeeProfiles_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployeeProfiles"
    ADD CONSTRAINT "FK_EmployeeProfiles_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: Employees FK_Employees_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employees"
    ADD CONSTRAINT "FK_Employees_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: Users FK_Users_Companies_CompanyId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "FK_Users_Companies_CompanyId" FOREIGN KEY ("CompanyId") REFERENCES public."Companies"("Id") ON DELETE CASCADE;


--
-- Name: WorkEventHistories FK_WorkEventHistories_Addresses_ActionPerformedAtAddressId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkEventHistories"
    ADD CONSTRAINT "FK_WorkEventHistories_Addresses_ActionPerformedAtAddressId" FOREIGN KEY ("ActionPerformedAtAddressId") REFERENCES public."Addresses"("Id");


--
-- Name: WorkEventHistories FK_WorkEventHistories_BreakEvent_BreakEventId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkEventHistories"
    ADD CONSTRAINT "FK_WorkEventHistories_BreakEvent_BreakEventId" FOREIGN KEY ("BreakEventId") REFERENCES public."BreakEvent"("Id");


--
-- Name: WorkEventHistories FK_WorkEventHistories_EmployeeProfiles_ActionPerformedByUserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkEventHistories"
    ADD CONSTRAINT "FK_WorkEventHistories_EmployeeProfiles_ActionPerformedByUserId" FOREIGN KEY ("ActionPerformedByUserId") REFERENCES public."EmployeeProfiles"("Id") ON DELETE CASCADE;


--
-- Name: WorkEventHistories FK_WorkEventHistories_WorkEvents_WorkEventId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkEventHistories"
    ADD CONSTRAINT "FK_WorkEventHistories_WorkEvents_WorkEventId" FOREIGN KEY ("WorkEventId") REFERENCES public."WorkEvents"("Id");


--
-- Name: WorkEvents FK_WorkEvents_Addresses_AddressId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkEvents"
    ADD CONSTRAINT "FK_WorkEvents_Addresses_AddressId" FOREIGN KEY ("AddressId") REFERENCES public."Addresses"("Id");


--
-- Name: WorkEvents FK_WorkEvents_EmployeeProfiles_AssignedByUserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkEvents"
    ADD CONSTRAINT "FK_WorkEvents_EmployeeProfiles_AssignedByUserId" FOREIGN KEY ("AssignedByUserId") REFERENCES public."EmployeeProfiles"("Id");


--
-- Name: WorkEvents FK_WorkEvents_EmployeeProfiles_CreatedByUserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkEvents"
    ADD CONSTRAINT "FK_WorkEvents_EmployeeProfiles_CreatedByUserId" FOREIGN KEY ("CreatedByUserId") REFERENCES public."EmployeeProfiles"("Id") ON DELETE CASCADE;


--
-- Name: WorkEvents FK_WorkEvents_EmployeeProfiles_UserProfileId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkEvents"
    ADD CONSTRAINT "FK_WorkEvents_EmployeeProfiles_UserProfileId" FOREIGN KEY ("UserProfileId") REFERENCES public."EmployeeProfiles"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict czHh7igvTxRaF2Y3qeX5mU66N7weC4sPLrG1jPGmAcCtSGck1R8DR9Muug2otFe

